{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Municipal Garbage Collection System</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-RE5pPc0i+ucuRzYszHb4/ktL6pBA+Pq2E23gYWsTn0L3D2JkCWG6Tkf0Ll2yPCwXFqAgcJ4LaZqTFYFTb9cOWQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Custom CSS -->
  <link href="{% static 'css/styles.css' %}" rel="stylesheet">
  <style>   
    body {
      background-color: rgb(247, 242, 242);
      margin-bottom: 60px; /* Adjust this value according to your footer's height */
    }
  </style>
</head>
<body>


  <!-- {% load widget_tweaks %} -->

  {% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-5">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Register</h2>
         
            <form method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="first_name">First Name</label>
                {{ form.first_name|add_class:"form-control" }}
              </div>
              <div class="form-group">
                <label for="last_name">Last Name</label>
                {{ form.last_name|add_class:"form-control" }}
              </div>
              <div class="form-group">
                <label for="username">Username</label>
                {{ form.username|add_class:"form-control" }}
              </div>
              <div class="form-group">
                <label for="email">Email Address</label>
                {{ form.email|add_class:"form-control" }}
              </div>
              <div class="form-group">
                <label for="password1">Password</label>
                {{ form.password1|add_class:"form-control" }}
              </div>
              <div class="form-group">
                <label for="password2">Confirm Password</label>
                {{ form.password2|add_class:"form-control" }}
              </div>
              <div class="form-group">
                <label for="location">Location</label>
                {{ form.location|add_class:"form-control" }}
              </div>
              <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
  


<!-- Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
